# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Ollama Local Models
# =========================
ollama/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OS / Editor
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
